.back {
	position: fixed;
	top: 25px;
	left: 25px;
	font-weight: normal;

}

.next {
	display: inline;
	position: fixed;
	top: 25px;
	right: 25px;
	font-weight: normal;

}

a {
	text-decoration: none;
}