.back {
	display: inline;
    left: 25px;
    position: fixed;
    top: 25px;

}

.next {
	display: inline;
	position: fixed;
	display: inline;
    right: 25px;
    position: fixed;
    top: 25px;

}

a {
	text-decoration: none;
	color: pink;
}