
body {
	background-color: black;
}

.container {
	padding: 15px;
}

* {
	box-sizing: border-box
	background-color: black;
}

.letter {
	width: 85px;
	height: 100px;
	background: black;
	display: inline-block;
	margin: 0 10px 10px 0;
	position: relative;
}

.a .v1{
	position: absolute;
	left: 0;
	height: 100%;
	border: 5px solid white;
	transform: skew(0, 20deg);

}


.a .v2 {
	position: absolute;
	right: 0;
	height: 100%;
	border: 5px solid white;
	transform: skew(0, -20deg);
}

.a .h1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 39%;
	border: 5px solid white;
	transform: skew(0deg, 20deg);
}

.a .h2 {
	position: absolute;
	right: 0;
	top: 0;
	width: 39%;
	border: 5px solid white;
	transform: skew(0deg, -20deg);
}

.a .h3 {
	position: absolute;
	left: 0;
	top: 50%;
	width: 39%;
	border: 5px solid white;
	transform: skew(0, 20deg);
}

.a .h4 {
	position: absolute;
	right: 0;
	top: 50%;
	width: 39%;
	border: 5px solid white;
	transform: skew(0deg, -20deg);
}

.b .v1 {
	position: absolute;
	left: 0;
	height: 90%;
	border: 5px solid white;
	transform: skew(0, 20deg);
}

.b .h1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 38%;
	border: 5px solid white;
	transform: skew(0, 20deg);

}

.b .h2 {
	position: absolute;
	left: 0;
	top: 50%;
	width: 39%;
	border: 5px solid white;
	transform: skew(0, 20deg);
}

.b .h3 {
	position: absolute;
	left: 0;
	top: 100%;
	width: 39%;
	border: 5px solid white;
	transform: skew(0, 20deg);
}

.b .h4 {
	position: absolute;
	right: 0;
	top: 0;
	width: 39%;
	height: 50%;
	border: 5px solid white;
	transform: skew(0, -20deg);
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;

}


.b .h5 {
	position: absolute;
	right: 0;
	top: 50%;
	width: 39%;
	border: 5px solid white;
	transform: skew(0, -20deg);
}














