.container {
	border: 1px solid black;
	height: 100%;
	width: 100%;
	padding: 20px;
	display: inline-block;
}


.header {
	border: 1px solid black;
	padding: 40px;
	letter-spacing: 2px;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	font-size: 42px;
	font-family: Arial;
	height: 100%;
	width: 100%;

}

.line1 {
	border: 1px black solid;
	position: relative;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 10px;
	font-family: Georgia;
	padding: 20px;
}

.line2 {
	border: 1px black solid;
	position: relative;
	display: inline-block;
	letter-spacing: 1px;
	font-size: 12px;
	text-align: center;
	height: 100%;
	margin: 10px;
	width: 100%;
	font-family: Georgia;
	padding: 20px;
}
.line3 {
	border: 1px black solid;
	position: relative;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
	margin: 10px;
	height: 100%;
	width: 100%;
	font-family: Georgia;
	padding: 20px;

}
.line4 {
	border: 1px black solid;
	position: relative;
	display: inline-block;
	margin-bottom: 215px;
	font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
	margin: 10px;
	height: 100%;
	width: 100%;
	font-family: Georgia;
	padding: 20px;
}

.footer {
	position: relative;
	display: inline;
	margin-top: 200px;
	padding-bottom: 20px;
	font-size: 10px;
	letter-spacing: 1px;
	float: right;
	text-transform: uppercase;

}
