body {
	background-color: black;
	color: white;
}

.nav a {
	color: white;
	padding-top: 100px;
}

.background img {
	z-index: -5;
	width: 100%;
	height: inherit;
	border: none;
}

img {
	width: 500px;
	height: inherit;
	padding-top: 40px;
}