.back {
	position: fixed;
	top: 25px;
	left: 25px;
	font-family: Helvetica, sans-serif;

}

.next {
	display: inline;
	position: fixed;
	top: 25px;
	right: 25px;
	font-family: Helvetica, sans-serif;

}

a {
	text-decoration: none;
}